@model AdvertisingAgency.Models.ViewModels.Account.UserNavPartialVM

<li class="navbar-text"> <a href="/account/user-profile" style="text-decoration: nine"> &nbsp; &nbsp; (@Model.FirstName @Model.LastName) </a> </li>