@model IEnumerable<AdvertisingAgency.Models.ViewModels.Agency.ProductVM>

@{
    ViewBag.Title = ViewBag.CategoryName;
}



<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Цена
        </th>
        <th>
            Картинка
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) p.
        </td>
        <td>
            <a href="/agency/product-details/@item.Slug">
                <img src="~/Images/Uploads/Products/@item.Id/Small/@item.ImageName" />
            </a>
        </td>
        <td>
           <a href="/agency/product-details/@item.Slug" class="btn btn-info">Детали</a>
        </td>
    </tr>
}

</table>
